* {
    box-sizing: border-box;
}

@font-face {
    font-family: lato;
    src: url(../fonts/Lato-Regular.ttf);
}

@font-face {
    font-family: euro;
    src: url(../fonts/eurof55.ttf);
}

/******************BASIC*******************/

html {
    font-family: lato;
    font-size: 16px;
}

body {
    margin: 0;
}

img {
    width: 100%;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-weight: normal;
}

a {
    text-decoration: none;
    color: #fff;
}

/******HELPERS*********/

.container {
    max-width: 980;
}

.flex {
    display: flex;
}

.flex.space-between {
    justify-content: space-between;
}

.clean-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.flex.align-center {
    align-items: center;
}

.flex.flex-col {
    flex-direction: column;
}

.card-container {
    margin-top: 5rem;
}

/********** header ******************/

.main-header {
    background-color: #292929;
}

.nav-container {
    height: 130px;
    margin: auto;
}

.logo {
    color: #ffffff;
    font-family: euro;
    font-size: 2.5rem;
}

.logo span {
    color: #58c93a;
}

ul {
    height: 100%;
}

.navbar-item {
    width: 130px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: white;
}

.navbar-item:first-child {
    border-right: 1px solid #1d1d1d;
    border-left: 1px solid #1d1d1d;
}

.navbar-item:nth-child(2) {
    border-right: 1px solid #1d1d1d;
}

.navbar-item:nth-child(3) {
    border-right: 1px solid #1d1d1d;
}

.navbar-item:last-child {
    border-right: 1px solid #1d1d1d;
}

.active {
    box-shadow: inset 0 -6px 0 #58c93a;
}

.main-nav .navbar-item:hover {
    color: #58c93a;
}

/*************** cards ********************/

.card {
    display: flex;
}

.img-container {
    margin-top: 5rem;
    margin-right: 2.5rem;
    width: 50%;
}

.card-content {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
}

.card-content h1 {
    text-transform: uppercase;
    padding-right: 2.5rem;
    color: #4f4e4e;
}

.card-content p {
    color: #606060;
    margin-right: 1.25rem;
}

.card-content button {
    background-color: #fff;
    border: 2px solid #c2c2c2;
    padding: .7em;
    border-radius: 50px;
    font-weight: 700;
    color: #c2c1c1;
    font-family: lato;
    cursor: pointer;
}

.card-content button:hover {
    color: #58c93a;
    border-color: #58c93a;
}

.card-content button:hover::after {
    content: 'âž';
}

.last-btns {
    border-top: 1px solid #e1e0e0;
    margin-top: 5rem;
    height: 75px;
    cursor: pointer;
}

.last-btns button {
    margin-left: 3.43rem;
    margin-right: 3.43rem;
}

.last-btns .arrow-right {
    margin-left: 0.625rem;
}

.last-btns .arrow-left {
    margin-right: 0.625rem;
}

.last-btns button {
    border: none;
    background-color: transparent;
}

.last-btns a {
    color: #818181;
    font-size: 1.125rem;
}

.last-btns a:hover {
    color: #3d3d3d;
}

/**************** layout *************************/

.main-content {
    margin: 0 auto;
    border-left: 1px solid #e1e0e0;
    border-right: 1px solid #e1e0e0;
    border-bottom: 1px solid #e1e0e0;
}

/********** footer **************/

.main-footer {
    height: 315px;
    background-color: #f8f8f8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-footer h1 {
    font-family: euro;
}

.main-footer h1 span {
    color: #58c93a;
}

.social-btn {
    width: 40px;
    height: 40px;
    border: none;
    color: white;
    cursor: pointer;
    background-color: #e5e5e5;
    transition: 0.3s;
}

.social-icons {
    margin-top: 1.875rem;
}

.social-icons>*:not(:last-child) {
    margin-right: 1.25rem;
}

.social-btn:first-child:hover {
    background-color: #516fad;
}

.social-btn:nth-child(2):hover {
    background-color: #2babe3;
}

.social-btn:nth-child(3):hover {
    background-color: #0056ff;
}

.social-btn:last-child:hover {
    background-color: #f26798;
}

.main-footer p {
    color: #a6a6a6;
    margin-top: 1.875rem;
}

.main-footer p span {
    color: #939292;
    font-weight: 700;
}

.modal {
    display: none;
    width: 50%;
    height: 50%;
    position: absolute;
    left: 0;
    right: 0;
    top:250;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border: 1px solid rgb(235, 235, 235);
    background-color: #fff;
    z-index: 3;
}
.modal small{
    cursor: pointer;
    float: right;
    padding:1rem;
}

.modal-items{
    padding:3rem;
}
.modal-input{
    display:flex;
    flex-direction: column;
    width:50%;
    margin:3rem auto;
}
.modal-input input{
    height:2.5rem;
}

.modal-input button{
    margin-top:3rem;
    font-size:1.5rem;
    border:none;
    background-color: #292929;
    color:#fff;
    border-radius: 5px;
    cursor: pointer;
}
.screen{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .7);
    opacity: 0;
    visibility: hidden;
    transition: opacity .8s;
    z-index:2;
}
.open-modal .screen {
    visibility: visible;
    opacity: 1;
}

/******************************* hamburger *************************/

.hamburder {
    display: none;
    margin-right: 1em;
    border: none;
    background-color: transparent;
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
}



/********************* media queries *******************/

@media (max-width:975px) {
    .card-content h1 {
        font-size: 1.2rem;
    }
    .modal{
        width:70%;
    }
    .modal-input{
        width:70%;
    }
}

@media (max-width:800px) {
    .card-content p {
        font-size: 0.8rem;
    }
    .card-content h1 {
        font-size: 1.3em
    }
    .modal-input{
        width:70%;
    }
}

@media (max-width:740px) {
    .card-content button {
        font-size: .7em;
    }
    .card {
        flex-direction: column;
    }
    .img-container {
        width: 100%;
        margin: 0;
        padding: 1rem 1rem;
    }
    .card-content h1 {
        padding: 0;
    }
    .card-content p {
        margin-right: 1rem;
        margin-left: 1rem;
    }
    .card-content {
        width: 100%;
        justify-content: center;
        text-align: center;
        margin: 0;
        padding: 1rem 1rem;
    }
    .main-footer {
        text-align: center;
        padding: 0.8rem;
    }
    .main-header .main-nav {
        opacity: 0;
        position: absolute;
        height: 60vh;
        width: 100%;
        justify-content: center;
        flex-direction: column;
        background-color: #444444;
        top: 130;
        transition: .4s;
        transform: translateY(-150%);
    }
    .navbar-item:first-child {
        border: none;
    }
    .navbar-item:nth-child(2) {
        border: none;
    }
    .navbar-item:nth-child(3) {
        border: none;
    }
    .navbar-item:last-child {
        border: none;
    }
    .main-nav li {
        width: 100%;
        font-size: 1.5rem;
    }
    .logo {
        margin-left: .5em;
    }
    .hamburder {
        display: block;
    }
    .open-menu .main-header .main-nav {
        transform: translateY(0);
        opacity: 1;
    }
    .modal{
        width:80%;
    }
    .modal-input{
        width:70%;
    }
}

@media (max-width:500px) {
    .card-content button {
        font-size: .6em;
    }
    .last-btns button a {
        font-size: 0.7rem;
    }
    .last-btns button {
        margin: 0;
        padding: 1rem;
    }
    .modal h1{
        font-size:1.4rem;
    }
    .modal p{
        font-size:0.8rem
    }
    .modal{
        width:90%;
    }
    .modal-input{
        width:90%;
    }
}
